<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Корзина товаров</title>
</head>

<body>
<a th:if="${role == 'ROLE_GUEST'}" href="/login" style="float:right;">
    <b>Вход&cudarrr;</b>
</a>
<a th:if="${role != 'ROLE_GUEST'}" href="/logout" style="float:right;">
    <b>Выход&cudarrr;</b>
</a>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="${'http://localhost:8080/images/'+item.getImgPath()}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getPrice()}+' руб.'"></b>
                    </td>
                </tr>
                <tr><td th:text="${item.getDescription()}"></td></tr>
                <tr>
                    <td>
                        <a th:href="@{/modify/cart/items/} + ${item.getId()} + '?action=plus'" style="font-size: 40px; color: darkgreen; text-decoration: none">+</a>
                        <a th:href="@{/modify/cart/items/} + ${item.getId()} + '?action=minus'" style="font-size: 40px; color: red; text-decoration: none">-</a>
                        <a th:href="@{/modify/cart/items/} + ${item.getId()} + '?action=delete'" style="font-size: 40px; color: red; text-decoration: none">&cross;</a>
                        <span th:text="${item.getCount()}"></span>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: '+${total}+' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/buy" method="post" th:if="${!empty and possibleToBuy}">
                <button>Купить</button>
            </form>
            <span th:if="${!possibleToBuy and available}">На балансе недостаточно средств для покупки</span>
            <span th:if="${!available}">Сервис платежей недоступен!</span>
        </td>
    </tr>
</table>
</body>

</html>