<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Витрина товаров</title>
</head>

<body>
<a th:if="${role == 'ROLE_GUEST'}" href="/login" style="float:right;">
    <b>Вход&cudarrr;</b>
</a>
<a th:if="${role != 'ROLE_GUEST'}" href="/logout" style="float:right;">
    <b>Выход&cudarrr;</b>
</a>
    <a th:if="${role != 'ROLE_GUEST'}" href="/orders" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a th:if="${role != 'ROLE_GUEST'}" href="/cart/items" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <a href="/main/items" style="float:right;">
        <b>ГЛАВНАЯ &cudarrr;</b>
    </a>
    <div style="width:70%;margin-left:auto;margin-right:auto;">
        <p>
            <img width="300" height="300" th:src="${'http://localhost:8080/images/'+item.getImgPath()}">
        </p>
        <p>
            <b th:text="${item.getTitle()}"></b>
            <b th:text="${item.getPrice()}+' руб.'" style="text-align:right;"></b>
        </p>
        <p>
            <span th:text="${item.getDescription()}"></span>
        </p>
        <a th:if="${role != 'ROLE_GUEST'}" th:href="@{/modify/items/} + ${item.getId()} + '?action=plus'" style="font-size: 40px; color: darkgreen; text-decoration: none">+</a>
        <a th:if="${role != 'ROLE_GUEST'}" th:href="@{/modify/items/} + ${item.getId()} + '?action=minus'" style="font-size: 40px; color: red; text-decoration: none">-</a>
        <a th:if="${item.getCount()==0 && role != 'ROLE_GUEST'}" th:href="@{/modify/items/} + ${item.getId()} + '?action=plus'" style="font-size: 20px; color: darkgreen; text-decoration: none">В корзину</a>
        <span th:if="${role != 'ROLE_GUEST'}" th:text="${item.getCount()}"></span>
    </div>
</body>

</html>